<?xml version="1.0"?>

<launch>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="filters" value="pointcloud" />
    </include>

    <node pkg="tf" type="static_transform_publisher" name="world_to_camera" args="0.0 0.0 1.2 0.0 0.420 0.0 /map /camera_link 10" />

    <node pkg="safe_path" type="ground_plane_pub" name="raw_ground_plane_publisher" />
     
    <arg name="rvizconfig"    default="$(find safe_path)/rviz/ground_plane.rviz" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>