<launch>
      <!-- Enable rviz visualization -->
      <arg name="rviz"        default="true" />
      <!-- Set nodes on debug mode -->
      <arg name="debug"       default="false" />
      
      <!-- The URDF model of the robot -->
      <arg name="urdfFile"    value="$(find ocs2_robotic_assets)/resources/mobile_manipulator/kinova/urdf/j2n6s300.urdf" />
      <!-- The task file for the mpc. -->
      <arg name="taskFile"    value="$(find ocs2_mobile_manipulator)/config/kinova/task_j2n6.info" />
      <!-- The library folder to generate CppAD codegen into -->
      <arg name="libFolder"   value="$(find ocs2_mobile_manipulator)/auto_generated/kinova/j2n6" />
      
      <!-- make the files into global parameters -->
      <param name="taskFile"   value="$(arg taskFile)" />
      <param name="urdfFile"   value="$(arg urdfFile)" />
      <param name="libFolder"  value="$(arg libFolder)" />

      <group if="$(arg rviz)">
            <include file="$(find ocs2_mobile_manipulator_ros)/launch/include/visualize.launch">
                  <arg name="urdfFile" value="$(arg urdfFile)" />
                  <arg name="rvizconfig"  default="$(find sara_arm)/rviz/mobile_manipulator.rviz"/>
            </include>
      </group>

      <node if="$(arg debug)" pkg="ocs2_mobile_manipulator_ros" type="mobile_manipulator_mpc_node" name="mpc_node" 
            output="screen" launch-prefix="gnome-terminal -- gdb -ex run --args" />
      <node unless="$(arg debug)" pkg="ocs2_mobile_manipulator_ros" type="mobile_manipulator_mpc_node" name="mpc_node" 
            output="screen" launch-prefix="" />

      <node pkg="sara_arm" type="mrt_sara" name="mrt_node" 
            output="screen" launch-prefix="gnome-terminal --" />

      <node if="$(arg rviz)" pkg="sara_arm" type="target_sara" name="target_node" 
            output="screen" launch-prefix="" />

</launch>